// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
    --animate-delay: 0.5s;
  }

// Navigation starts
.navbar-brand {
    font: 100% $font-nunito;
    font-weight: 700;
    font-size: 20px;
    color: #cfc547;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin-top: -5px;
}
.brand-dot{
    font-weight: 800;
    font-size: 24px;
    padding: 0px 1px 0px 1px;
    color: $accentColor;
}

ul.navbar-nav a {
    border-bottom: 2px solid transparent;
    margin: 0 2px 0 2px;
    padding-top: 15px;
}
ul.navbar-nav a:hover {
    color: $accentColor !important;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.4);
    
}
.active-nav{
    color: $accentColor !important;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.4);
    border-bottom: 2px solid $accentColor !important;
    padding-bottom: 15px;
    
}
.navbar {
    padding-bottom: 0px;
}


.navbar-toggler{
    border: none;
}
@media (max-width: 768px) {
    .nav-item{
        text-transform: uppercase;
        letter-spacing: 2px;

    }
    .navbar-brand{
        margin-top: 0;
    }
    .navbar {
        padding-bottom: 5px;
    }
}
// Navigation ends

// Landing page starts
.landing-container{
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 20vh;

}
.landing-typewriter{
    font: 100% $font-nunito;
    font-size: 50px;
}
.typewriter-blinker{
    font-weight: 800;
}
.txt-type{
    font-weight: 700;
    color: $accentColor;
}
.typewriter-container{
    vertical-align: middle;
    display: flex;
}
.landing-me{
    border-radius:50%;
    float:right;
    -webkit-box-shadow: 0px 2px 17px 1px rgba(0,0,0,0.61); 
    box-shadow: 0px 2px 17px 1px rgba(0,0,0,0.61);
    animation: rotation 20s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.typewriter-slogan{
    font-size: 24px;
}
.landing-links i{
    margin-top:60px;
    font-size: 30px;
    color: black !important;
    padding-right: 10px;
}
.landing-links i:hover{
    color: $accentColor !important;

}
@media (max-width: 1200px) {
    .landing-me {
        width:300px;
        height: 300px;
    }
    .landing-typewriter{
        font-size:35px;
    }
    .typewriter-slogan{
        font-size: 20px;
    }
 }

 @media (max-width: 768px) { 
    .landing-me {
        width:200px;
        height: 200px;
    }
    .landing-typewriter{
        font-size:30px;
    }
    .landing-box{
        flex-direction: row;
    }
 }
